@model Asn2_GoodSam.Models.Client.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AbuserRelationship.AbuserRelationshipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuserRelationship.AbuserRelationshipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age.AgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age.AgeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedWorker.AssignedWorkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedWorker.AssignedWorkerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crisis.CrisisName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crisis.CrisisName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuplicateFile.DuplicateFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuplicateFile.DuplicateFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity.EthnicityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnicity.EthnicityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyViolenceFile.FamilyViolenceFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyViolenceFile.FamilyViolenceFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear.FiscalYearName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear.FiscalYearName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.GenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.GenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incident.IncidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incident.IncidentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralContact.ReferralContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralContact.ReferralContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralSource.ReferralSourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralSource.ReferralSourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepeatClient.RepeatClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepeatClient.RepeatClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskLevel.RiskLevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskLevel.RiskLevelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOfFile.StatusOfFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOfFile.StatusOfFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimOfIncident.VictimOfIncidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimOfIncident.VictimOfIncidentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenZeroToSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenZeroToSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenSevenToTwelve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenSevenToTwelve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenThirteenToEighteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenThirteenToEighteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceFileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceFileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtFileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtFileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWCFileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWCFileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskAssessmentAssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskAssessmentAssignedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbuserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuserName)
        </dd>
        @*
    <dt>
        @Html.DisplayNameFor(model => model.DateLastTransfered)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateLastTransfered)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateClosed)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateClosed)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DateReopened)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DateReopened)
    </dd>
        *@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
